@model LabW4.Models.Voucher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insuranse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insuranse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasSpecialStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasSpecialStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VoucherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
