@model IEnumerable<LabW4.Models.Voucher>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insuranse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasSpecialStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insuranse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSpecialStaff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VoucherId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VoucherId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VoucherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
